<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <title>Temporary Shortner</title>
</head>
<body>
    <div class="container">
        <h1><a href="{{url_for('home')}}">Temporary Shortner</a></h1>
        {% if error %}
            <div class="error"><strong>Error: </strong>{{ error }}</div>
        {% endif %}
        <form method="POST" action="{{url_for('shorten')}}">
            <input type="url" name="url" placeholder="Enter URL to shorten">
            <button type="submit">Shorten</button>
        </form>

        {% if url %}
        <div class="result">
            <p>Shortened URL: <a target="_blank" href="{{ url }}">{{ url }}</a>. <br />This link will be valid for {{expiration_time}}</p>
        </div>
        {% endif %}
    </div>
    <footer>
        <p>Temporary Shortner&copy; 2022</p>
        <p><a href="https://www.buymeacoffee.com/vitorsilverio">Buy me a ☕</a></p>
        <p><a target="_blank" href="https://github.com/vitorsilverio/temporary-shortner"><image src="{{url_for('static', path='/GitHub-Mark-32px.png')}}" /><a></p>
    </footer>
    
</body>
</html>